<!doctype html>
<html lang="en" ng-app="AngularFlask">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>DJ CyKo</title>

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.css">



    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-route/angular-route.js"></script>
    <script src="/static/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/static/bower_components/ng-websocket/ng-websocket.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>


</head>
<body>
<div role="navigation" id="header" class="navbar navbar-default">
   <div class
    <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">DJ CyKo</a>
        <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <div class="container page">
        <div id="content" class="container main" ng-view>
        </div>

        <hr>
        <footer id="footer" class="footer">
            <div class="footer-left">
                <a href="/about">About</a> |
                <a href="/">Home</a>
            </div>
            <div class="footer-right">
                <span>&copy; 2015 DJ CyKo</span>
            </div>
        </footer>
    </div>
</body>
</html>
