<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<div class="header-section">
	<div class="row header-row">
		<div class="span12 masthead">
			<h1 class="heading">&nbsp;About</h1>
		</div>
	</div>
</div>
<div class="header-push">
</div>

<div>
    <h2>Meet the DJ Cyko team</h2>
</div>
<br>
<p>
	<h3>Sambhav Srirama</h3>
	<img src="/static/img/ssrirama-profile-picture.jpg" style="width:20%;">
	<br>
	Sambhav is a senior in Computer Science at Iowa State University. His interests are in Software-Defined Networking (SDN) and Information Assurance (IA).
	For latest details on project and contact information, please visit his <a href="https://www.linkedin.com/in/ssrirama" target="_blank">LinkedIn</a> profile.
</p>
<br>
<p>
	<h3>Tyler Stapler</h3>
	<img src="/static/img/tstapler-profile-picture.jpg" style="width:20%;">
	<br>
	Tyler is a senior in Computer Engineering at Iowa State University. His interests are in being cool
	<br>
	(•_•)
	<br> 
	( •_•)>⌐■-■ 
	<br>
	(⌐■_■)
</p>
