<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<div class="header-section">
	<div class="row header-row">
		<div class="span12 masthead">
			<h1 class="heading">Home of the Beats</h1>
		</div>
	</div>
</div>
<div class="header-push">
</div>

<div>
    <h3><a href="queue">Get the party started</a></h3>
</div>
