<h2>Live Queues:</h2>
<hr>
	<form class="form-inline">
		<div class="form-group">
			<label for="newQueueName">Create A New Queue!</label>
			<input type="text" class="form-control" id="newQueueName" ng-model="queue_name" placeholder="Awesome Queue Name">
		</div>
		<button class="btn btn-default" id="newQueueButton" ng-click="newQueue()">Submit </button>
	</form>
	<hr>
		<div ng-repeat="(username, owned) in queues">
			<div class="panel panel-default">
				<h5 class="panel panel-title">
					{{username}}'s queues
				</h5>
				<div class="panel panel-body">
					<table class="table table-striped table-hover">
						<tr>
							<th>Queue Name</td>
							<th>Songs</th>
						</tr>
						<tr ng-repeat="queue in owned">
							<td><a ng-href="/queue/{{queue.id}}/client">{{queue.title}}</a></td>
							<td>{{queue.songs.length}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
