<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<h2>{{ "Queue - " + queue.title }}</h2>
<br>
<ol>
    <div ng-class="ng-list" ng-repeat="song in queue.songs | orderBy: 'id':true">

        <div>
            <li>
            <a href="/song/{{ song.id }}">{{ song.title }}</a>
            </li>
        </div>
        <br>
    </div>
</ol>
<p><a href="/queue/{{ queue.id }}/client">Launch Client</a></p>
<p><a href="/queue/{{ queue.id }}/dj">Launch DJ</a></p>
<p><a href="/queue">Back to Queue List</a></p>
