<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<div>
<h1>Voting for {{ queue.title }}</h1>
<poll-alert show-alert="alert.showAlert" alert-class="alert.alertClass" alert-message="alert.msg"></poll-alert>
<form ng-submit="save()">
    <ul class="list-group">
        <li ng-repeat="song in queue.songs" class="list-group-item">
        <label for="option{{$index}}">{{ song.title }} - {{ song.votes }} Votes</label>
        <input type="radio" id="option{{$index}}" value={{$index}} ng-click name="option" ng-model="queue.songId">
            </li>
        </ul>
            <a class="btn btn-danger" ng-href="/queue/{{queue.id}}/"><span class="glyphicon glyphicon-arrow-left"> Back</span></a>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save">Save</span></button>
        </form>
    </div>
    <form ng-submit="vote()">
        <h1>Song Suggestion</h>
        <div class="form-group">
        <label for="title">Song Name</label>
        <input type="text" id=title ng-model="queue.song_title">
        </div>
        <div class="form-group">
        <label for="url">Song Youtube Link</label>
        <input type="text" id=url ng-model="queue.song_url">
        </div>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save">Vote</span></button>
    </form>

</div>
